@media screen and (max-width: 767px)  {

body {
    background-color:white;
    padding:10px;
}

.hrdiv {
    clear: both;
    padding-bottom:10px;

}

hr {
    color:#e7e7e7;
    border-style:solid;
}
/*Student Name*/

.titletext {
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px; 
    padding-bottom: 15px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    }

.nametitle {
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px; 
    padding-bottom: 15px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: none;
    color:#4a4a4a;
}

.nametext               {
   
margin-left:auto;
margin-right:auto;
text-align: center;
font-size: 17.2px;
line-height: 1.6em;
padding-bottom: 40px;
max-width:320px;
font-family: 'Palanquin', sans-serif;
color:#808080;
}


.name img { 
    margin-top:30px;
width: 200px; 
display:block;
  margin-left: auto;
    margin-right: auto;
    padding-bottom:10px;



            }

h2 { 
    font-weight: normal;
    color:#4a4a4a;
    font-size:20px;

 }

a:link, a:visited {
    color: #4a4a4a;
    text-align: center; 
    text-decoration: none;
    margin-top: 15px;
padding-bottom:15px;
padding-top: 10px;
margin-bottom:10px;

}



.contact {
    padding-top:25px;
     font-size: 20px;
      margin-left: auto;
    margin-right: auto;
    text-align: center;
    


        }
.contacttext {
    font-size:16.5px;
    width: 95%;
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height:1.8em;
    padding-bottom:5px;
    padding-top:10px;
    letter-spacing:.05px;
    color:#7f7f7f;

}
.contacttitle {
      text-transform: uppercase;
      font-size:15px;
      letter-spacing:1px;
      color:#4a4a4a;
}

.nav                         {

text-transform: uppercase;
list-style-type: none;
font-weight:bold;
text-align:center;
 display:block;
    margin: 0;
    padding: 0;
     text-decoration: none;
                            }
ul                          {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:block;
  
                            } 
ul li                       {
display:block;

margin: 5px;
width: 90%;

 margin-left: auto;
    margin-right: auto;
    text-align: center;
     text-decoration: none;

}

li a                          {
    display: block;
    background-color:#fff;
     text-decoration: none;

                            }


.center                     {
      text-align: center;
         display:block;
     margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: auto;

                               }

.imageteaser {

    width: 150px;
    height: auto;
                }


.teasertext {
font-size:15.5px;
font-weight:normal;
line-height: 1.6em;
padding: 0 1.1em 15px 1.1em;
letter-spacing:-.3px;



                            }
.teasertitle {

    font-weight: normal;
    color: #4a4a4a;
    font-size: 20px;

                }


.teaser {
    /* width:367px; */
       text-align:center;
           margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    color:#4a4a4a;

        }




 ul, .menu      {
    display: block;
    list-style-type: disc;
                }

.teaser img {
    width: 95%;
    height: auto;
        margin-left: auto;
    margin-right: auto;
    text-align: center;



}

.footerleft {
        float:left;
        clear:left;
        color:#4a4a4a;
    }
.footerright {

  
        float:right;
        clear:right;
    }

.phone {
    color:#a09e9e;
    font-size:18px;
    padding-bottom:15px;
    float:left;
    clear:left;
    -webkit-margin-before: 0;
    padding-left:25px;
     padding-top:25px;


}
.email {
font-size:18px;
    padding-bottom:45px;
    color:#a09e9e;
    float:left;
        clear:left;
        -webkit-margin-before: 0;
        padding-left:15px;

        }

.emailaddress {
    font-size:18px;
     font-weight:bold;
    color:#7f7f7f;
    float:right;
       clear:right;
    -webkit-margin-before: 0;
    padding-right:40px;
}


.phonedigits {
    font-size:18px;
    font-weight:bold;
    color:#7f7f7f;
    float:right;
       clear:right;
    -webkit-margin-before: 0;
    padding-right:65px;
    padding-top:25px;
}
.footer {
    font-weight:bold;
    margin:0 15px 20px 15px;
    padding-bottom:25px;
}
}

@media screen and (min-width:768px) and (max-width: 1023px)  {

body {
    margin:5px;
}

/*Header*/
.titletext {
    font-size: 14px;
font-weight:bold;
    padding-top:40px;
    padding-bottom: 15px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    }

/*Name Section*/

.nametitle {
    font-size: 24px;
    font-weight: bold;
    padding-top: 25px; 
    padding-bottom: 15px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: none;

}


.nametext {
    font-family: 'Palanquin', sans-serif;
    float:left;
    clear:left;
    width:55%;
    font-size: 20px;
    font-weight:normal;
      letter-spacing: .1px;
      color:#a09e9e;
      line-height:1.5em;
     padding-left:1em;
     box-sizing: border-box;
     -webkit-margin-before: 0;


  }

.name img { 


display:block;
  margin-left: auto;
    margin-right: 2.3em;
    padding-bottom:10px;
    float:right;
    clear:right;
    width:35%;
  


            }


/*Menu*/


a:link, a:visited {
 
    text-align: center; 
    text-decoration: none;
    padding-right:55px;
    color:#564a4a;
    font-size:15px;
    font-weight:bold;

}


ul                          {

    list-style-type: none;
    margin: 0;
    padding: 0;
        margin-bottom:50px;
} 


ul li                       {
   
display:inline;
padding-top: 50px;
 margin-left: auto;
    margin-right: auto;
    text-align: right;
 



}


.nav                         {

text-transform: uppercase;
list-style-type: none;
font-weight:bold;
text-align:center;
 display:block;
    margin: 0;
    padding: 0;


                            }


/*Main Content*/

.teasertitle {

    font-weight: normal;
    color: #4a4a4a;
    font-size: 20px;

                }

.teasers {
    text-align:center;
    clear:both;
    margin-left: auto;
    margin-right: auto;

}
.clear { clear: both;}
.teaser p {
width: 80%;
    text-align:center;
     margin-left: auto;
    margin-right: auto;
}

/*Main Content Box*/

.teasertext {
    text-align:center;
    width:100%;
}

.teaser {
    display:inline-block; 
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width:45%;
        }

   

h3 {width: 100%;
    font-size: 1em;
    font-weight: bold;
}

.col {

 vertical-align: top;
 text-align:center;
 padding:4px;
}

.teasers {
           display:inline-block; 
        }

.teaser img {
    margin-bottom:15px;
    width:100%;
    float:right;
    clear:right;
}

col {
    float:left;
    clear:left;

  
    width:33%;
}

.footerleft {
        float:left;
        clear:left;
    }
.footerright {

  
        float:right;
        clear:right;
    }

.phone {
    color:#a09e9e;
    font-size:18px;
    padding-bottom:15px;
    float:left;
    clear:left;
    -webkit-margin-before: 0;
    padding-left:250px;
     padding-top:25px;
      text-transform:none;


}
.email {
font-size:18px;
    padding-bottom:45px;
    color:#a09e9e;
    float:left;
        clear:left;
        -webkit-margin-before: 0;
        padding-left:240px;
        text-transform:none;

        }

.emailaddress {
    font-size:18px;
     font-weight:bold;
    color:#7f7f7f;
    float:right;
       clear:right;
    -webkit-margin-before: 0;
    padding-right:280px;
     text-transform:none;
}


.phonedigits {
    font-size:18px;
    font-weight:bold;
    color:#7f7f7f;
    float:right;
       clear:right;
    -webkit-margin-before: 0;
    padding-right:280px;
    padding-top:25px;
}
.footer {
    font-weight:bold;
    margin:0 20px 20px 20px;
    padding-bottom:25px;
}
.contacttitle {
      text-transform: uppercase;
      font-size:15px;
      letter-spacing:1px;
      color:#4a4a4a;
}

.contact {
    padding-top:90px;
     font-size: 16px;
      margin-left: auto;
    margin-right: auto;
    text-align: center;
       text-transform: uppercase;


        }
.contacttext {
    font-size:20px;
    width: 70%;
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height:1.6em;
    padding-bottom:5px;
    padding-top:10px;
    letter-spacing:.05px;
    text-transform: none;
    color:#7f7f7f;

}
.hrdiv {
    clear: both;
    padding-bottom:10px;

}

hr {
    color:#e7e7e7;
    border-style:solid;
}

}
@media screen and (min-width:1024px) and (max-width: 4000px)  {

body {
    padding:75px;
    padding-top:10px;
}


.name {
height:1px;
                         }
.nametext {
    font-family: 'Palanquin', sans-serif;
    float:left;
    clear:left;
    width:53%;
    font-size: 17.2px;
    font-weight:normal;
      letter-spacing: 1px;
      color:#a09e9e;
      line-height:1.5em;
 
  }

  .nametitle {
    padding-top:26px;
    font-size: 20px;
    font-weight: bold;

    float:left;
    clear:left;
    text-transform: none;
}

  .name img { 


display:block;
  margin-left: auto;
    margin-right: auto;
    padding-bottom:10px;
    float:right;
    clear:right;
    width:35%;
    padding-right:2.9em;


            }

a:link, a:visited {

    color: black;
    text-decoration: none;

    padding-right:35px;
    
   
 

}


ul                          {

    list-style-type: none;
    margin: 0;
    padding: 0;
        margin-bottom:20px;
        float:right;
        clear:right;
} 


ul li                       {
display:inline;
font-size:15px;



}


.nav                         {

text-transform: uppercase;
list-style-type: none;
font-weight:bold;
text-align:center;
 display:block;
    padding: 0;
    margin:auto;
    padding-top:50px;
    padding-bottom:70px;
                            }

.clear { clear: both;}
.teaser p {
    width:100%;
}

.teaser {
    display:inline-block; 
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width:30%;
        }

/*     h2 {

font-size: 1.5em;
font-weight: bold;
} */
.col {
padding:10px;
 vertical-align: top;
 text-align:center;
}

.teasers {
           display:inline-block; 
        }

.teaser img {
    margin-bottom:15px;
    width:100%;
}

col {
    float:left;
    clear:left;

  
    width:33%;
}


.titletext {
    font-size: 16px;
    font-weight: bold;
    padding-top: 50px; 
    padding-bottom: 15px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
     text-transform: uppercase;
    }

.footerleft {
        float:left;
        clear:left;
    }
.footerright {

  
        float:right;
        clear:right;
    }

.phone {
    color:#564a4a;
     padding-top:50px;
    padding-bottom:15px;
    font-size:20px;
    text-transform:none;
}
.email {
    font-size:20px;
    padding-bottom:100px;
    color:#564a4a;
    text-transform:none;

        }


.phonedigits {
    font-weight:bold;
}
.footer {
    font-weight:bold;
    margin:0 20px 20px 20px;
    padding-bottom:25px;
}
.contact {
    padding-top:90px;
     font-size: 16px;
      margin-left: auto;
    margin-right: auto;
    text-align: center;
       text-transform: uppercase;


        }
.contacttext {
    font-size:24px;
    width: 85%;
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height:1.6em;
    padding-bottom:5px;
    padding-top:10px;
    letter-spacing:.05px;
    text-transform: none;
    color:#564a4a;

}

}